<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @forum.title %>
</p>

<table class="posts" summary="Forum Posts">
<tr><td><h3>Posts:</h3></td></tr>
  <%= render @posts %>
</table>
<%= will_paginate @posts %>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
