<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <font class="greenheader"><%= @user.name %>'s Profile</font>
      </h1>
    <% unless @user.projects.empty? %>
	        <table class="projects" summary="User projects">
		<tr><td><h3>Projects:</h3></td></tr>
	          <%= render @projects %>
	        </table>
	        <%= will_paginate @projects %>
	      <% end %>
	    </td>
	    <td class="sidebar round">
	      <strong>Name</strong> <%= @user.name %><br />
	      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
	      <strong>Projects</strong> <%= @user.projects.count %>
	    </td>
	  </tr>
	</table>